﻿.sidenav {
    width: 130px;
    /*position: fixed;*/
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
    float:left;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #2196F3;
        display: block;
    }

        .sidenav a:hover {
            color: #064579;
        }

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.col-lg-4:nth-child(1) .single-case-studies, .col-lg-4:nth-child(3) .single-case-studies {
    margin-top: 80px;
}

.col-lg-4:nth-child(5) .single-case-studies, .col-lg-4:nth-child(8) .single-case-studies, .col-lg-4:nth-child(11) .single-case-studies, .col-lg-4:nth-child(14) .single-case-studies, .col-lg-4:nth-child(17) .single-case-studies,.col-lg-4:nth-child(20) .single-case-studies,.col-lg-4:nth-child(23) .single-case-studies {
    margin-top: -80px;
}

.single-case-studies.bg1 {
    background-image:
    linear-gradient(to bottom, rgba(148, 68, 137, 0.52), rgba(182, 40, 70, 0.73)),
    url(../../../../../photos/gemicollection.PNG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg2 {
    background-image:
    linear-gradient(to bottom, rgba(228, 78, 78, 0.52), rgba(69, 62, 165, 0.73)),
    url(../../../../../photos/setgersportfolio.jpg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg3 {
    background-image:
    linear-gradient(to bottom, rgba(136, 125, 124, 0.52), rgba(151, 125, 145, 0.73)),
    url(../../../../../photos/probiz.jpg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg4 {
    background-image:
    linear-gradient(to bottom, rgba(189, 116, 113, 0.52), rgba(117, 19, 93, 0.73)),
    url(../../../../../photos/cabbagesoft.PNG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg5 {
    background-image:
    linear-gradient(to bottom, rgba(189, 116, 113, 0.52), rgba(78, 19, 117, 0.884)),
    url(../../../../../photos/mobiportfolio.PNG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg6 {
    background-image:
    linear-gradient(to bottom, rgba(92, 112, 92, 0.52), rgba(52, 87, 58, 0.884)),
    url(../../../../../photos/trade.jpg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg7 {
    background-image:
    linear-gradient(to bottom, rgba(92, 111, 112, 0.52), rgba(52, 54, 87, 0.884)),
    url(../../../../../photos/shivaminfotel.jpg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg8 {
    background-image:
    linear-gradient(to bottom, rgba(179, 211, 157, 0.52), rgb(165, 158, 92)),
    url(../../../../../photos/shoppingstation.jpg);
}

.single-case-studies.bg9 {
    background-image:
    linear-gradient(to bottom, rgba(6, 37, 77, 0), rgba(124, 69, 43, 0.075)),
    url(../../../../../photos/cortex.jpg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg10 {
    background-image:
    linear-gradient(to bottom, rgba(157, 211, 193, 0.514), rgba(43, 114, 124, 0.555)),
    url(../../../../../photos/colostomycare.jpg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg11 {
    background-image:
    linear-gradient(to bottom, rgba(121, 184, 209, 0.514), rgba(124, 59, 43, 0.555)),
    url(../../../../../photos/science.png);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg12 {
    background-image:
    linear-gradient(to bottom, rgba(230, 206, 99, 0.514), rgba(208, 211, 64, 0.555)),
    url(../../../../../photos/jash.jpg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg13 {
    background-image:
    linear-gradient(to bottom, rgb(12, 11, 12), rgba(255, 19, 19, 0.555)),
    url(../../../../../photos/WOW.webp);
    background-size: auto;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-case-studies.bg14 {
    background-image:
    linear-gradient(to bottom, rgba(54, 51, 51, 0.514), rgba(178, 182, 131, 0.555)),
    url(../../../../../photos/alaaza.PNG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-case-studies.bg15 {
    background-image:
    linear-gradient(to bottom, rgba(24, 87, 19, 0.514), rgba(65, 92, 95, 0.637)),
    url(../../../../../photos/snap.PNG);
    background-size: auto;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-case-studies.bg16 {
    background-image:
    linear-gradient(to bottom, rgba(73, 88, 119, 0.514), rgba(44, 41, 87, 0.637)),
    url(../../../../../photos/trodex.PNG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-case-studies.bg17 {
    background-image:
    linear-gradient(to bottom, rgba(67, 126, 65, 0.514), rgba(87, 41, 64, 0.637)),
    url(../../../../../photos/gupta.PNG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-case-studies.bg18 {
    background-image:
    linear-gradient(to bottom, rgba(196, 114, 114, 0.514), rgba(218, 28, 28, 0.637)),
    url(../../../../../photos/gifts.PNG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-case-studies.bg19 {
    background-image:
    linear-gradient(to bottom, rgba(8, 151, 32, 0.13), rgba(168, 44, 44, 0.637)),
    url(../../../../../photos/UAEportfolio.PNG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-case-studies.bg20 {
    background-image:
    linear-gradient(to bottom, rgba(49, 54, 50, 0.13), rgba(75, 70, 70, 0.637)),
    url(../../../../../photos/ENTportfolio.PNG);
}

.single-case-studies.bg21 {
    background-image:
    linear-gradient(to bottom, rgba(192, 211, 196, 0.13), rgba(95, 39, 199, 0.637)),
    url(../../../../../photos/hirepay.PNG);
}

.single-case-studies.bg22 {
    background-image:
    linear-gradient(to bottom, rgba(33, 137, 179, 0.13), rgba(221, 124, 13, 0.637)),
    url(../../../../../photos/bluemart.PNG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-case-studies.bg23 {
    background-image:
    linear-gradient(to bottom, rgba(26, 214, 205, 0.13), rgba(221, 13, 169, 0.637)),
    url(../../../../../photos/3.jpg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.single-case-studies.bg24 {
    background-image:
    linear-gradient(to bottom, rgba(13, 65, 71, 0.13), rgba(28, 207, 198, 0.637)),
    url(https://jaxenter.com/wp-content/uploads/2020/05/shutterstock_499005652.jpg);
}

.single-case-studies.bg25 {
    background-image:
    linear-gradient(to bottom, rgba(19, 17, 18, 0.13), rgba(26, 26, 29, 0.637)),
    url(https://images7.alphacoders.com/486/486291.jpg);
}

.single-case-studies.bg26 {
    background-image:
    linear-gradient(to bottom, rgba(37, 34, 35, 0.13), rgba(42, 219, 66, 0.637)),
    url(https://www.codeproject.com/KB/cs/696879/SexyC-r-700.jpg);
}

.single-case-studies.bg27 {
    background-image:
    linear-gradient(to bottom, rgba(218, 127, 42, 0.13), rgba(65, 28, 11, 0)),
    url(https://www.pacetechnosoft.co.in/wp-content/uploads/2016/03/java-training-in-chennai.jpg);
}

.single-case-studies.bg28 {
    background-image:
    linear-gradient(to bottom, rgba(218, 127, 42, 0.13), rgba(65, 28, 11, 0)),
    url(https://codecap.org/wp-content/uploads/2021/04/thumb-1920-430917.jpg);
}

.single-case-studies.bg29 {
    background-image:
    linear-gradient(to bottom, rgba(104, 42, 218, 0.13), rgba(209, 86, 29, 0)),
    url(https://i.pinimg.com/originals/9d/f1/f8/9df1f82852b0d020ccf6430c17b8ce36.jpg);
}

.single-case-studies.bg30 {
    background-image:
    linear-gradient(to bottom, rgba(104, 42, 218, 0.13), rgba(209, 86, 29, 0)),
    url(https://cdn.pixabay.com/photo/2014/12/28/13/20/wordpress-581849__480.jpg);
}

.single-case-studies.bg31 {
    background-image:
    linear-gradient(to bottom, rgba(90, 11, 238, 0.13), rgba(11, 20, 22, 0.911)),
    url(https://www.seekpng.com/png/detail/20-204059_software-development-software-development-images-png.png);
}

.single-case-studies.bg32 {
    background-image:
    url(../../../../../photos/food1.jpg);
    }

.single-case-studies.bg33 {
    background-image:
    url(../../../../../photos/food2.jpg);
    }

.single-case-studies.bg34 {
    background-image:
    url(../../../../../photos/food3.jpg);
    }

.single-case-studies.bg35 {
    background-image:
    url(../../../../../photos/food4.jpg);
    }

.single-case-studies.bg36 {
    background-image:
    url(../../../../../photos/food5.jpg);
    }

.single-case-studies.bg37 {
    background-image:
    url(../../../../../photos/food6.jpg);
    }

.single-case-studies.bg38 {
    background-image:
    url(../../../../../photos/food7.jpg);
    }

.single-case-studies.bg39 {
    background-image:
    url(../../../../../photos/food8.jpg);
    }

.single-case-studies.bg40 {
    background-image:
    url(../../../../../photos/food9.jpg);
    }

.single-case-studies.bg41 {
    background-image:
    url(../../../../../photos/food10.jpg);
    }

.single-case-studies.bg42 {
    background-image:
    url(../../../../../photos/food11.jpg);
    }

.single-case-studies.bg43 {
    background-image:
    url(../../../../../photos/food12.jpg);
    }

.single-case-studies.bg44 {
    background-image:
    url(../../../../../photos/food13.jpg);
    }

.single-case-studies.bg45 {
    background-image:
    url(../../../../../photos/food14.jpg);
    }

.single-case-studies.bg46 {
    background-image:
    url(../../../../../photos/food15.jpg);
    }

.single-case-studies.bg47 {
    background-image:
    url(../../../../../photos/food16.jpg);
    }

    .single-case-studies.bg48 {
        background-image:
        url(../../../../../photos/web3.1.jpg);
        }

        .single-case-studies.bg49 {
            background-image:
            url(../../../../../photos/web3.2.jpg);
            }

            .single-case-studies.bg50 {
                background-image:
                url(../../../../../photos/web3.3.jpg);
                }

                .single-case-studies.bg51 {
                    background-image:
                    url(../../../../../photos/web4.4.jpg);
                    }

                    .single-case-studies.bg52 {
                        background-image:
                        url(../../../../../photos/web4.1.jpg);
                        }

                        .single-case-studies.bg53 {
                            background-image:
                            url(../../../../../photos/web4.3.jpg);
                            }

                            .single-case-studies.bg54 {
                                background-image:
                                url(../../../../../photos/banner1.jpg);
                                }

                                .single-case-studies.bg55 {
                                    background-image:
                                    url(../../../../../photos/banner2.jpg);
                                    }

                                    .single-case-studies.bg56 {
                                        background-image:
                                        url(../../../../../photos/banner3.jpg);
                                        }

                                        .single-case-studies.bg57 {
                                            background-image:
                                            url(../../../../../photos/banner4.jpg);
                                            }

                                            .single-case-studies.bg58 {
                                                background-image:
                                                url(../../../../../photos/banner5.jpg);
                                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                                                }

                                                .single-case-studies.bg59 {
                                                    background-image:
                                                    url(../../../../../photos/flyer1.jpg);
                                                    }

                                                    .single-case-studies.bg60 {
                                                        background-image:
                                                        url(../../../../../photos/flyer2.jpg);
                                                        }

                                                        .single-case-studies.bg61 {
                                                            background-image:
                                                            url(../../../../../photos/flyer3.jpg);
                                                            }

                                                            .single-case-studies.bg62 {
                                                                background-image:
                                                                url(../../../../../photos/flyer4.jpg);
                                                                }

                                                                .single-case-studies.bg63 {
                                                                    background-image:
                                                                    url(../../../../../photos/flyer5.jpg);
                                                                    }

                                                                    .single-case-studies.bg64 {
                                                                        background-image:
                                                                        url(../../../../../photos/logo1.jpg);
                                                                        }

                                                                        .single-case-studies.bg65 {
                                                                            background-image:
                                                                            url(../../../../../photos/logo2.jpg);
                                                                            }

                                                                            .single-case-studies.bg66 {
                                                                                background-image:
                                                                                url(../../../../../photos/logo3.jpg);
                                                                                }

                                                                                .single-case-studies.bg67 {
                                                                                    background-image:
                                                                                    url(../../../../../photos/logo4.jpg);
                                                                                    }

                                                                                    .single-case-studies.bg68 {
                                                                                        background-image:
                                                                                        url(../../../../../photos/logo5.jpg);
                                                                                        }

                                                                                        .single-case-studies.bg69 {
                                                                                            background-image:
                                                                                            url(../../../../../photos/logo6.jpg);
                                                                                            }

                                                                                            .single-case-studies.bg70 {
                                                                                                background-image:
                                                                                                url(../../../../../photos/logo7.jpg);
                                                                                                }

                                                                                                .single-case-studies.bg71 {
                                                                                                    background-image:
                                                                                                    url(../../../../../photos/logo8.jpg);
                                                                                                    }

                                                                                                    .single-case-studies.bg72 {
                                                                                                        background-image:
                                                                                                        url(../../../../../photos/logo9.jpg);
                                                                                                        }

                                                                                                        .single-case-studies.bg73 {
                                                                                                            background-image:
                                                                                                            url(../../../../../photos/logo10.jpg);
                                                                                                            }

                                                                                                            .single-case-studies.bg74 {
                                                                                                                background-image:
                                                                                                                url(../../../../../photos/logo11.jpg);
                                                                                                                }

                                                                                                                .single-case-studies.bg75 {
                                                                                                                    background-image:
                                                                                                                    url(../../../../../photos/logo12.jpg);
                                                                                                                    }

                                                                                                                    .single-case-studies.bg76 {
                                                                                                                        background-image:
                                                                                                                        url(../../../../../photos/social6.jpg);
                                                                                                                        }

                                                                                                                        .single-case-studies.bg77 {
                                                                                                                            background-image:
                                                                                                                            url(../../../../../photos/social2.jpg)
                                                                                                                            }

                                                                                                                            .single-case-studies.bg78 {
                                                                                                                                background-image:
                                                                                                                                url(../../../../../photos/social3.jpg);
                                                                                                                                }

                                                                                                                                .single-case-studies.bg79 {
                                                                                                                                    background-image:
                                                                                                                                    url(../../../../../photos/social4.jpg);
                                                                                                                                    }

                                                                                                                                    .single-case-studies.bg80 {
                                                                                                                                        background-image:
                                                                                                                                        url(../../../../../photos/social5.jpg);
                                                                                                                                        }
.single-case-studies.bg81 {
background-image:
url(https://play-lh.googleusercontent.com/nm90EkA1fFllzXQxJnqGA8fbq4c2J3G0lqBryEkCunDG3gdqOGVi9nejZ1qzaSxfSLM=w1366-h600-rw);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single-case-studies.bg82 {
    background-image:
    url(https://play-lh.googleusercontent.com/9sWB2vcG_78IdbSWUPCqsiuRZ0lXhYvU0AoECCLhHNaaiL1xZo0HxOnaJaxMSOPyWg=w1366-h600-rw);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
}
    .single-case-studies.bg83 {
        background-image:
        url(https://play-lh.googleusercontent.com/zDUYYMbhut__1gRIODphej2cm1srse2rEs-qxYDRmgZUwq2R1ZsRyDHOllIvnZM3xdE=w1366-h600-rw);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    }
        .single-case-studies.bg84 {
            background-image:
            url(https://play-lh.googleusercontent.com/WnCjAHC2uSfP-UGzziEHI1WSnRKUwM40QH0Tx-EQ-PvoMVeoSHbTdggqfpbIVJ8bMZtL=w1366-h600-rw);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
        }
            .single-case-studies.bg85 {
                background-image:
                url(https://play-lh.googleusercontent.com/Kb7g-mMtYQubnTPeWTkFNtrlokPPC8qMyFNTd1GCAP8lGophhhBhoa9ccaCFFatzATk=w1366-h600-rw);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
            }
.single-case-studies.bg86 {
background-image:
url(../../../../../photos/alaaza1.jpg);
width: 340px;
height: 715px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.single-case-studies.bg87 {
    background-image:
    url(../../../../../photos/alaaza2.jpg);
    width: 340px;
    height: 715px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .single-case-studies.bg88 {
        background-image:
        url(../../../../../photos/alazza3.jpg);
        width: 340px;
        height: 715px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .single-case-studies.bg89 {
            background-image:
            url(../../../../../photos/alaaza4.jpg);
            width: 340px;
            height: 715px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
            .single-case-studies.bg90 {
                background-image:
                url(../../../../../photos/alazza5.jpg);
                width: 340px;
                height: 715px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
.single-case-studies.bg91 {
background-image:
url(../../../../../photos/WOW.PNG);
width: 290px;
                height: 550px;
}
.single-case-studies.bg92 {
    background-image:
    url(../../../../../photos/wow1.PNG);
    width: 290px;
    height: 550px;
    }
    .single-case-studies.bg93 {
        background-image:
        url(../../../../../photos/wow2.PNG);
        width: 290px;
        height: 550px;
        }

.single-case-studies.bg94 {
background-image:
url(https://play-lh.googleusercontent.com/XNqvZETkVJ-Ml7w9Wwy-HUTO60d256shdUwnbG4_DZPpxsqWEydg5_xTht6VGTlNOQ=w1366-h657-rw);
width: 370px;
        height: 657px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.single-case-studies.bg95 {
    background-image:
    url(https://play-lh.googleusercontent.com/9C7IQEHIr_tkRKbzV16HB1UUg6oZdP3MFCAlMbpkEnLQjmDebXCQg3z0Wh2fqGNarQ=w1366-h657-rw);
    width: 370px;
    height: 657px;   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
    .single-case-studies.bg96 {
        background-image:
        url(https://play-lh.googleusercontent.com/ihxGYy1-koOFADxy9Y6WTbozzFmFdLA2CPt8kdKOx7cI_y9mI1YYj6FnwMG0Czx6SI0=w1366-h657-rw);
        width: 370px;
        height: 657px;  
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    }
        .single-case-studies.bg97 {
            background-image:
            url(https://play-lh.googleusercontent.com/zKgWo_8rgRECh9YSB-P9NpvMleJ9QfBdxmkqtkiDRf-vd0Je5XYbpH_IVBTjl4AaHlrb=w1366-h657-rw);
            width: 370px;
            height: 657px; 
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
        }
            .single-case-studies.bg98 {
                background-image:
                url(https://play-lh.googleusercontent.com/WNof6qz0lO62h_CHJLQBd_F3iADr11dpqnTw2cfVemU0KM2AOaDTVMAJEp5BNuDVdA=w1366-h657-rw);
                width: 370px;
                height: 657px;    
            }
                .single-case-studies.bg99 {
                    background-image:
                    url(https://play-lh.googleusercontent.com/8Hv-vYT-PGm8LY4Sm8izm6EJyeAE6J2IBqlail0yap6kTik9gbxtTsbA2NOvBaR_OYl6=w1366-h657-rw);
                    width: 370px;
                    height: 657px; 
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
                }
                    .single-case-studies.bg100 {
                        background-image:
                        url(https://play-lh.googleusercontent.com/ZKG9wYJ4CSFw1uPC_42P7FZKAIV_he45UNU8riEjErKZWCBQoXuYRIL4Lm3L130BHg=w1366-h657-rw);
                        width: 370px;
                        height: 657px;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }

.single-case-studies.bg101 {
background-image:
url(https://play-lh.googleusercontent.com/XxrG_fNYt3FMXaDRHD9RE6Tb0MvB963-MId5eBZIJ4GsLCTsY7AB0CWkA43YAo-tyi0=w1366-h657-rw);
width: 370px;
                        height: 657px;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.single-case-studies.bg102 {
    background-image:
    url(https://play-lh.googleusercontent.com/vxP7hPnZwuRZ0z1jA0KyG3gSuPtRgRy4BjZe_KYP8rND14jPx97j53MEWc6BJHPxxyQ=w1366-h657-rw);
    width: 370px;
    height: 657px;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
    .single-case-studies.bg103 {
        background-image:
        url(https://play-lh.googleusercontent.com/mNEgw7GdNLqchIJadct7-CfCMG0voLKJaN0XY0kmlmzILvElTdFSGI9qxY_gRhPCdg=w1366-h657-rw);
        width: 370px;
        height: 657px;  
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    }
        .single-case-studies.bg104 {
            background-image:
            url(https://play-lh.googleusercontent.com/rldJJEXKnelR4crRKqX0kJFmDI_vJGaXUc1-UPyfRC7DSJU8a_4tQY-nqiYxquOFdRSe=w1366-h657-rw);
            width: 370px;
            height: 657px;    
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
            .single-case-studies.bg105 {
                background-image:
                url(https://play-lh.googleusercontent.com/68vCBZVZ_7jEgtpI8kuYIdfTl5FDWkgyiNO8k8SqSyw33A_jlC93BvaKEmzTcD_6OxgD=w1366-h657-rw);
                width: 370px;
                height: 657px; 
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
            }
                .single-case-studies.bg106 {
                    background-image:
                    url(https://play-lh.googleusercontent.com/-F4zGUKXRdrSu8oPqXAHgtGXNOiCpIU4rmreA5Ll6ZUxoksZvVBVKdqF_2jiv9vvZg=w1366-h657-rw);
                    width: 370px;
                    height: 657px;    
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                    .single-case-studies.bg107 {
                        background-image:
                        url(https://play-lh.googleusercontent.com/Ue5VWLTisRJXjDeNxLQ_sEkIWlH4B1LE7fclESk8i1zWdZBL8P8EOYNNyQ0YeYQ1cIK7=w1366-h657-rw);
                        width: 370px;
                        height: 657px;  
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
                    }
                        .single-case-studies.bg108 {
                            background-image:
                            url(https://play-lh.googleusercontent.com/2VAqgJVsNRsav2bPfIpUEX0Q8ohx1E9LthgymN3n7AMh0_hnB2AADLCRwNJYNuxJGPE=w1366-h657-rw);
                            width: 370px;
                            height: 657px;  
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
                        }
                            .single-case-studies.bg109 {
                                background-image:
                                url(https://play-lh.googleusercontent.com/BnWdMjGzjl5nE5nMxhcXmrJfiSZYD765iyndBwR6kvCwxZdWUc9-IpczGalSyWd8Rzs=w1366-h657-rw);
                                width: 370px;
                                height: 657px;
                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            }
.single-case-studies.bg110 {
background-image:
url(https://play-lh.googleusercontent.com/l0b_H0DoUQE5-Itu9zAHH9ReQEC-nsZYv1Wv_WcGJOM3IGiTC2uhOMVRti_auf_UtPea=w1366-h657-rw);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.single-case-studies.bg111 {
    background-image:
    url(https://play-lh.googleusercontent.com/m52MoGCiMhR7ZUbTEqZL_T5kgegry1OGSOJ8HPu77-x6KhNF7XuFsoZ6UdhW2Ko9D9g=w1366-h657-rw);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    }
    .single-case-studies.bg112 {
        background-image:
        url(https://play-lh.googleusercontent.com/HIpGVs5-AbrQafUYn-JUEZcBWTKbvojQ04H888DVaB2hO0vlSn_FxVQwaElKEN3JyA=w1366-h657-rw);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;        }
        .single-case-studies.bg113 {
            background-image:
            url(https://play-lh.googleusercontent.com/QbvQnGx54wS_ovaFxU9eo82XYw1yEVd9-nHN4SoAmfbpW0IzvT6YfbqYrFfoAy42oF0=w1366-h657-rw);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;            }
            .single-case-studies.bg114 {
                background-image:
                url(https://play-lh.googleusercontent.com/aokVzFVtlBGvzX246k9RSF1qlF2wDIMpSTpYqyLTiloL31POi-quiILLxutrNa_OH6aC=w1366-h657-rw);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;                }

.single-case-studies.bg115 {
background-image:
url(https://play-lh.googleusercontent.com/0egGKlE6HIK_4qFs-j76TXRKegExRYsadM9_OW-4Aq3yoMWtsHN9WeN1D7ca9ZE0zbg=w1366-h657-rw);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
width: 303px;
                                height: 657px;               
}
.single-case-studies.bg116 {
    background-image:
    url(https://play-lh.googleusercontent.com/Ory0QXMIupU7xwnpnPd1323zenHks_nU2Mj_XsvsgetRxwbfPGmAFn0dICaAABK5Hg=w1366-h657-rw);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;     
    width: 303px;
                                height: 657px;           
    }
.single-case-studies.bg117 {
background-image:
url(https://play-lh.googleusercontent.com/ECRbt_0zoiAiqogZfPL8Ze2AjNOkiKceQ4WHLHxwqEtDrZMge6TCT4_ruwvFu9pFjcI=w1366-h657-rw);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;        
width: 355px;
    height: 568px;      
        }
        .single-case-studies.bg118 {
            background-image:
            url(https://play-lh.googleusercontent.com/O3ytnIYHl5a8ZFHh4aGHhp-xa8qcOGCEEP5YlNbHHNUpxAQO0255H5MqYCPsjIkLXg=w1366-h657-rw);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;               
            width: 355px;
            height: 568px;
                    }
                    .single-case-studies.bg119 {
                        background-image:
                        url(https://play-lh.googleusercontent.com/ZZxhHKug5FrhAmbEEYJCvqjeNR6ZFzGVP1eWrilE64D6QJ-yjm5vOQrch8AD1a0vng=w1366-h657-rw);
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        width: 355px;
    height: 568px;
                                }
                                .single-case-studies.bg120 {
                                    background-image:
                                    url(https://play-lh.googleusercontent.com/dGl2I5EWOS13Vq69xLI1M-fI0XtWH6vscorPwaJGlEaofhNp4aORUowqA36IYS8_kg=w1366-h657-rw);
                                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;      
                                    width: 355px;
    height: 568px;
                                            }
                                            .single-case-studies.bg121 {
                                                background-image:
                                                url(https://play-lh.googleusercontent.com/j4BebpOfROVSBDrBJ21yDXDJ5zEWVO6lzi4-ta7k1rgGtuWEiFxRHD08gN4aUda8mQ=w1366-h657-rw);
                                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
                                                width: 355px;
                                                height: 568px;  
                                                        }
                                                        .single-case-studies.bg122 {
                                                            background-image:
                                                            url(https://play-lh.googleusercontent.com/N-rtURGihbBJDCK029E0pM7P2NwWCrTn3l82WYIrQXB35pw5bzHbZb0HR9bUJrdJEQ=w1366-h657-rw);
                                                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;               
                                                            width: 355px;
                                                            height: 568px;
                                                                    }
                                                                    .single-case-studies.bg123 {
                                                                        background-image:
                                                                        url(https://play-lh.googleusercontent.com/LKCQoNtWJsr5fx_nwVnru6jiyQ3VEfQVZTUzUhj-1OYajpNGowNhpTQVRb0LdiMOOJOT=w1366-h657-rw);
                                                                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;               
                                                                        width: 355px;
                                                                        height: 568px;          
                                                                    }
                                                                                .single-case-studies.bg124 {
                                                                                    background-image:
                                                                                    url(https://play-lh.googleusercontent.com/hswgmb1vCV2RCeuhZLv8KXR16Xc8Ju6AFAS75p4gYiBJXA4bZFX94XiG65inUydVZSA=w1366-h657-rw);
                                                                                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;               
                                                                                    width: 355px;
                                                                                    height: 568px;            
                                                                                }
                                                                                            .single-case-studies.bg125 {
                                                                                                background-image:
                                                                                                url(https://play-lh.googleusercontent.com/Mbaq3yxe6JAjzpatsQnxvOihdGwgbZwCZjfa6IdaD6Om3tvPQ0saevPVsMb0ezLAHBw=w1366-h657-rw);
                                                                                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;               
                                                                                                width: 355px;
                                                                                                height: 568px;     
                                                                                            }

.single-case-studies.bg126 {
background-image:
linear-gradient(to bottom, rgba(236, 148, 16, 0.52), rgba(19, 167, 51, 0.73)),
url(../../../../../photos/ish.jpg);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.single-case-studies.bg127 {
    background-image:
    linear-gradient(to bottom, rgba(70, 53, 17, 0.52), rgba(204, 194, 168, 0.897)),
    url(../../../../../photos/rp.JPG);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .single-case-studies.bg128 {
        background-image:
        linear-gradient(to bottom, rgba(187, 197, 212, 0.52), rgba(139, 133, 121, 0.884)),
        url(../../../../../photos/regent.JPG);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .single-case-studies.bg129 {
            background-image:
            linear-gradient(to bottom, rgba(177, 159, 138, 0.52), rgba(235, 175, 85, 0.73)),
            url(../../../../../photos/prince.JPG);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }


.single-case-studies {
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    min-height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.single-case-studies .content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    background: transparent;
    z-index: 2;
}

.single-case-studies .content span {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.single-case-studies .content span a {
    color: #ffffff;
}


.single-case-studies .content h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0 0;
    color: #ffffff;
}

.single-case-studies .butn-primary {
    border-color: #ffffff;
    color: #ffffff;
    font-size: 14px;
}

.single-case-studies .butn {
    position: absolute;
    left: 25px;
    bottom: 25px;
    z-index: 2;
}

@media screen and (max-width: 991px)
{
.single-case-studies
{
    margin-top: 0px !important;
}
}

